.home-page {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.home-page img {
    width: 50vw;
    border-radius: 2px;
}

.home-page .name {
    width: 100vw;
    font-size: 50px;
}

.homepage-content-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    height: 500px;
    padding: 3rem;
    border: 1px solid black;
    border-radius: 4px;
    margin: 2rem;
    text-align: center;
    background-color: lightgrey;

}

.image img {
    width: 10vw;
    border-radius: 75px;
}

.image {
    display: flex;
    justify-content: center;
    
}

.home-page h3 {
    text-decoration: underline;
}

/* .homepage-image {
    padding: 2rem;
}
.homepage-image img{
    width: 55vw;
} */

.homepage-image {
    width: 25vh;
    border: white;
    border-radius: 25%;
}




@media only screen and (max-width: 600px) {
    .home-page img {
      display: block;
    }

    .home-page {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
    }

    .home-page .name {
        font-size: 30px;
      }
}