
.contact-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.sign-up-container {
    width: 100vw;
}

.sign-up-container input {
    border-radius: 2px;
    border: 1px solid black;
    margin: 1rem;
    padding: 10px;
    width: 500px;
    height: 2rem;
}

.sign-up-container button {
    border-radius: 2px;
    border: 1px solid black;
    padding: 10px;
    width: 250px;
    background-color: white;
    color: black;
    font-size: 1.1em;
    margin-top: 15px;
}

.contact-text {
    width: 100vw;
}

.contact-text img {
    width: 40vw;
    border-radius: 2px;
}



.sign-up-container .input-form-message {
    border-radius: 3px;
    border: 1px solid black;
    margin: 1rem;
    padding: 10px;
    width: 500px;
    height: 10rem;
}

::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    
  }

  input[type="text"] {
    white-space: normal;
  }

  .contact-page form {
    border-radius: 2px;
}

.sign-up-container input,
.sign-up-container button,
.input-form-message {
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}



@media (max-width: 500px) {
    .sign-up-container input,
    .input-form-message {
      width: 90%;
    }
  
    .sign-up-container button {
      width: 45%;
    }

    .contact-page {
        flex-direction: column;
      }

      .sign-up-container input,
      .sign-up-container button,
      .input-form-message {
        font-size: 5vw;
      }
  }