


.form {
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60vw;
    height: 50vh;
}

.form input {
    border-radius: 2px;
    border: 1px solid black;
    /* margin: 1rem; */
    width: 75vw;
    height: 2rem;
}


.form button {
    border-radius: 2px;
    border: 1px solid black;
    /* padding: 1rem; */
    width: 75vw;
    background-color: white;
    color: black;
    font-size: 1.1em;
    /* margin-top: 1rem; */
}

.form button:hover {
    background-color: black;
    color: white;
}

.form .input-form-message {
    border-radius: 2px;
    border: 1px solid black;
    /* margin: 1rem; */
    width: 75vw;
    height: 10rem;
}

::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    
  }

  input[type="text"] {
    white-space: normal;
  }

 

.sign-up-container input,
.sign-up-container button,
.input-form-message {
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}



/* @media (max-width: 500px) {
    .sign-up-container input,
    .input-form-message {
      width: 90%;
    }
  
    .sign-up-container button {
      width: 45%;
    }

    .contact-page {
        flex-direction: column;
      }

      .sign-up-container input,
      .sign-up-container button,
      .input-form-message {
        font-size: 5vw;
      }
  } */